<!-- Extendendo layout.html -->
{% extends "layout.html" %}

<!-- Variável para apontar no ID da div -->
{% set pageId = "home" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/styles/home.css" media="screen" />
{% endblock styles %}

{% block content %}

    <div class="content">
    
    
        <div class="banner">

            <div class="introduction">

                <h1>O melhor no mercado! Profissionais altamente qualificados</h1>

                <p>Entre em contato para maiores detalhes!</p>
                
                <a href="/contact" alt="Vamos lá">Vamos lá!</a>
            
            </div>

            <div class="image">
                <img src="/assets/backgroundHome.svg" alt="Homens trabalhando">
            </div>

        </div>

    </div>

    {% include "partials/footer.html" %}

{% endblock content %}