<!DOCTYPE html>
<html lang="pt_br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        
        {% block title %}
            <title>Gasparotto Soluções</title>
        {% endblock title %}

        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
        <link rel="icon" href="assets/pngs/menores/favicon.png" type="image/png" />

        <link rel="stylesheet" type="text/css" href="/styles/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/styles/header.css" media="screen" />
        {% block styles %}{% endblock styles %}
        <link rel="stylesheet" type="text/css" href="/styles/footer.css" media="screen" />

    </head>
    <body>
        
        <div id="{{ pageId }}">

            {% include "partials/header.html" %}
                
            {% block content %}
            {% endblock content %}

        </div>

        {% block scripts %}{% endblock scripts %}

        <script src="scripts/index.js"></script>
    </body>
    
</html>