<footer>
    <div class="footer_top">
        <div class="info">
            <div class="logo">
                <a href="/"><img src="assets/pngs/logoVertical.png" alt="Gasparotto Soluções"></a>
            </div>
            <div class="social">
                <h2>Social</h2>
                <ul class="social-links">
                    <li> 
                        <a href="https://wa.me/5519988661711" target="_blank">
                            <img src="/assets/icons/whatsapp-24px.png" alt="Icone whatsapp"></a>
                        <a href="https://www.facebook.com/RPF-Hidr%C3%A1ulica-e-El%C3%A9trica-258699034654843"
                            target="_blank"> <img src="/assets/icons/facebook-24px.png" alt="Icone Facebook"></a>
                        <a href="#"
                            target="_blank"> <img src="/assets/icons/instagram-24px.png" alt="Icone Instagram"></a>
                    </li>
                </ul>
            </div>
            <div class="contacts">
                <h2>Contatos:</h2>
                <p>Email: paulo-gasparotto@hotmail.com</p>
                <p>Telefone: (19) 98866-1711</p>
            </div>
            <div class="feed">
                <h2>Facebook Feed</h2>
                <p>
                    Renato Costa:
                    Eu indico! agilidade no serviço, preço bom e muito capricho.
                </p>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <hr>
        <p>© Designed and developed by <strong><a href="https://www.linkedin.com/in/mateus-gasparotto/"
                    target="_blank">Mateus Gasparotto</a></strong></p>
    </div>
</footer>