<header>

    <nav>

        <a href="/"><img src="/assets/pngs/logoHorizontal.png" alt="Logomarca" class="logo"></a> 
        
        <ul class="menu-list">

            <li><a href="/">Página Inicial</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/contact" class="option-special">Contato</a></li>
        
        </ul>

        <img src="/assets/icons/btn-toggle.png" alt="" class="btn-toggle"> 

    </nav>

    <div class="toggle">
        <a href="/">Página Inicial</a>
        <a href="/about">Sobre</a>
        <a href="/contact" class="option-special">Contato</a>
    </div>

</header>