footer {
    display: flex;
    flex-direction: column;
    background: #362E26;
    min-height: 150px;
    color: #c5c4c4;
}

footer a {
    color: #ffffff;
}

footer h2 {
    color: #ffffff;
    font-weight: bold;
}

footer .footer_top {
    display: flex;
    align-items: center;
    min-height: 200px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

footer .footer_top .info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 30px;
}

footer .footer_top .info .logo img {
    width: 250px;
}

footer .footer_top .info .social ul li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer .footer_top .info .contacts {
    white-space: nowrap;
}

footer .footer_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    white-space: nowrap;
}

footer .footer_bottom hr {
    width: 90%;
    margin: auto;
    color: #c5c4c4;
}

footer .footer_bottom p {
    display: inline;
    margin-bottom: 10px;
}

@media (max-width: 1500px) {
    footer .footer_top {
        width: 95%;
    }
}

@media (max-width: 1250px) {

    footer .footer_top {
        width: 80%;
    }

    footer .footer_top .info {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media (max-width: 800px) {

    footer .footer_top {
        width: 90%;
    }
}

@media (max-width: 550px) {

    footer .footer_top .info .logo {
        display: none;
    }

    footer .footer_top .info {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    footer .footer_bottom p {
        font-size: 10px;
    }
}