header {
    background: #FFFFFF;
    height: 10vh;
    align-items: center;
    width: 100%;
    position: sticky;
    min-height: 100px;
}

header a {
    font-size: 20px;
    align-items: center;
    color: #222222;
}

header nav {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img.logo {
    margin-top: 10px;
    height: 50px;
    width: auto;
}

header nav ul.menu-list {
    height: 100%;
    align-items: center;
    list-style: none;
    display: flex;
}

header nav ul.menu-list li a {
    padding: 10px 25px;
    border-radius: 22px;
}

header nav ul.menu-list li a:hover {
    box-shadow: 0px 0px 5px 5px #d8d8d8;
}

header nav ul.menu-list li a.option-special {
    margin-left: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #f0f0f0;
}

header nav ul.menu-list li a.option-special:hover {
    box-shadow: 0px 0px 6px 6px #727272;
}

header nav img.btn-toggle {
    cursor: pointer;
    display: none;
}

header .toggle {
    margin-left: 10%;
    position: relative;
    display: none;
    background: #f0f0f0;
    line-height: 75px;
    text-align: end;
    border-radius: 5px;
}

header .toggle a+a {
    border-top: 2px solid #5c5b5b;
}

header .toggle a{
    font-size: 2rem;
    color: #222222;
    display: block;
    padding-right: 5%;
    box-shadow: 0px 0px 5px #c2c2c2;
}

@media (max-width: 810px) {

    header {
        height: 100px;
    }
    header nav img.logo {
        height: 2rem;
    }

    header nav ul.menu-list {
        display: none;
    }

    header nav img.btn-toggle {
        display: inline-block;
    }

}