/* CONTENT */
#home .content {
    background-image: url("/assets/pngs/fundoAzul.png");
    height: 90vh;
}

#home .content .banner {
    min-height: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#home .content .banner .introduction {
    margin-left: 15%;
}

#home .content .banner .introduction h1 {
    color: #F0F0F0;
    font-weight: bold;
    font-size: 3rem;
}

#home .content .banner .introduction p {
    margin-top: 5%;
    color: #F0F0F0;
    font-size: 20px;
    line-height: 25px;
}

#home .content .banner .introduction a {
    display: inline-block;
    margin-top: 5%;
    font-size: 16px;
    color: #1E90FF;
    background: #F0F0F0	;
    padding: 10px 50px;
    border-radius: 20px;
    transition: 0.3s;
}

#home .content .banner .introduction a:hover {
    font-size: 18px;
    box-shadow: 0px 0px 8px 8px #d4d4d4;
}

#home .content .banner .image {
    align-items: center;
    margin-right: 5%;
}

#home .content .banner .image img {
    width: 100%;
}

@media (max-width: 1000px) {
    
    #home .content .banner {
        grid-template-columns: 1fr;
    }

    #home .content .banner .introduction{
        text-align: center;
        margin: 0 20px;
    }

    #home .content .banner .introduction h1 {
        font-size: 2rem;
    }

    #home .content .banner .introduction a {
        padding: 3vw 20vw;
    }

    #home .content .banner .image {
        display: none;
    }

}