:root {
    --verde-claro: #34cb79;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background: #e4dcdc;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
